<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab8</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; line-height: 1.6; }
        table { border-collapse: collapse; width: 100%; margin: 20px 0; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        pre { background-color: #f4f4f4; padding: 10px; border-radius: 4px; }
        code { background-color: #f4f4f4; padding: 2px 4px; border-radius: 3px; }
    
    
    
    
    /* Code block wrapper with copy button */
    .code-block-wrapper {
      position: relative;
      margin: 20px 0;
    }
    
    .code-block-wrapper pre {
      margin: 0;
    }
    
    .copy-button {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 6px 8px;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s, background-color 0.2s;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    
    .copy-button:hover {
      opacity: 1;
      background-color: #fff;
    }
    
    .copy-button:active {
      background-color: #e0e0e0;
    }
    
    .copy-button.copied {
      background-color: #4caf50;
      color: white;
      border-color: #4caf50;
    }
    
    .copy-button svg {
      display: block;
    }
    
    </style>
</head>
<body>
<h1>Lab8</h1>
<p>Be sure to get enough REST</p>
<p>Now you are going to expand upon your work from the previous lab.  This is going to require the following components:</p>
<ul>
<li>A REST Interface (described in light detail below)</li>
<li>An angular template (with javascript) to produce the web-page outputs</li>
<li>A good understanding of how to manipulate tables </li>
</ul>
<h2>The REST interface</h2>
<p>I'm purposefully leaving some of the REST interface details vague so you can decide how to implement them yourself.  I recommend the following <em>sort</em> of thing:</p>
<ul>
<li>USER/</li>
<li>Get current user</li>
<li>Change current user</li>
<li>BUTTONS/</li>
<li>return JSON object of current buttons</li>
<li>modify values in till_buttons table (if you want to be fancy... NOT REQUIRED)</li>
<li>CLICK/</li>
<li>update the current transaction table to reflect the-item button clicked</li>
<li>SALE/</li>
<li>complete the current transaction and clear the transaction table</li>
<li>VOID/</li>
<li>abort the current transaction</li>
<li>LIST/</li>
<li>provide JSON object of items in current transaction</li>
<li>DELETE/</li>
<li>remove item(s) from current transaction</li>
</ul>
<p>This will be implemented by your node server which you will run by typing some variation on <code>node myserver.js</code>.  I'm choosing to call my server <code>express.js</code></p>
<p>For example, here is a slimmed down version of <code>express.js</code>.  I have removed functional details in order to let you add those back in.  I implemented this version without Promises or connectionPools, but you probably want to to add those in.  The repository ONLY has a stub.</p>
<div class="code-block-wrapper">
  <pre><code class="language-js">var express=require('express'),
mysql=require('mysql'),
credentials=require('./credentials.json'),
app = express(),
port = process.env.PORT || 1337;

credentials.host='ids.morris.umn.edu'; //setup database credentials

var connection = mysql.createConnection(credentials); // setup the connection

connection.connect(function(err){if(err){console.log(error)}});

app.use(express.static(__dirname + '/public'));
app.get(&quot;/buttons&quot;,function(req,res){
  var sql = 'SELECT * FROM test.till_buttons';
  connection.query(sql,(function(res){return function(err,rows,fields){
     if(err){console.log(&quot;We have an error:&quot;);
             console.log(err);}
     res.send(rows);
  }})(res));
});
app.get(&quot;/click&quot;,function(req,res){
  var id = req.param('id');
  var sql = 'YOUR SQL HERE'
  console.log(&quot;Attempting sql -&gt;&quot;+sql+&quot;&lt;-&quot;);

  connection.query(sql,(function(res){return function(err,rows,fields){
     if(err){console.log(&quot;We have an insertion error:&quot;);
             console.log(err);}
     res.send(err); // Let the upstream guy know how it went
  }})(res));
});

app.listen(port);
</code></pre>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<h2>The angular template</h2>
<p>You have done the tutorials (and many of you have worked with angular in other classes), so I'll just provide a sample of the sort of thing that I used to implement "clickability" on the item buttons (note:  I did NOT add the css file that I used):</p>
<div class="code-block-wrapper">
  <pre><code class="language-html">&lt;!doctype html&gt;
&lt;html&gt;
&lt;head lang=&quot;en&quot;&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;Cash Register&lt;/title&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;click.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app=&quot;buttons&quot;&gt;
&lt;div class=&quot;container-fluid&quot;&gt;
    &lt;h1&gt;Cash Register (with buttons)&lt;/h1&gt;
    &lt;div id=&quot;buttons&quot; ng-controller=&quot;buttonCtrl&quot; &gt;
       &lt;div ng-repeat=&quot;button in buttons&quot;&gt;
         &lt;div style=&quot;position:absolute;left:{{button.left}}px;top:{{button.top}}px&quot;&gt;&lt;button id=&quot;{{button.buttonID}}&quot; ng-click=&quot;buttonClick($event,'button.buttonID');&quot; &gt;{{button.label}}&lt;/button&gt;&lt;/div&gt;
       &lt;/div&gt;
       &lt;div style=&quot;position:fixed;height:50px;bottom:0px;left:0px;right:0px;margin-bottom:0px&quot;} ng-show=&quot;errorMessage != ''&quot;&gt;
          &lt;div class=&quot;col-sm-12&quot;&gt;
           &lt;h3 class=&quot;text-danger&quot;&gt;{{errorMessage}}&lt;/h3&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<h2>The JavasScript</h2>
<p>You will notice that the Angular template loads a javascript file named <code>click.js</code> (which I have included in the public subdirectory).  Most of this is boiler plate material... but notice how we use <code>$scope.</code> to make functionality defined in <code>click.js</code> available in our web-page.</p>
<div class="code-block-wrapper">
  <pre><code class="language-js">angular.module('buttons',[])
  .controller('buttonCtrl',ButtonCtrl)
  .factory('buttonApi',buttonApi)
  .constant('apiUrl','http://146.57.34.125:1337'); //CHANGE for the lab!

function ButtonCtrl($scope,buttonApi){
   $scope.buttons=[]; //Initially all was still
   $scope.errorMessage='';
   $scope.isLoading=isLoading;
   $scope.refreshButtons=refreshButtons;
   $scope.buttonClick=buttonClick;

   var loading = false;

   function isLoading(){
    return loading;
   }
  function refreshButtons(){
    loading=true;
    $scope.errorMessage='';
    buttonApi.getButtons()
      .success(function(data){
         $scope.buttons=data;
         loading=false;
      })
      .error(function () {
          $scope.errorMessage=&quot;Unable to load Buttons:  Database request failed&quot;;
          loading=false;
      });
 }
  function buttonClick($event){
     $scope.errorMessage='';
     buttonApi.clickButton($event.target.id)
        .success(function(){})
        .error(function(){$scope.errorMessage=&quot;Unable click&quot;;});
  }
  refreshButtons();  //make sure the buttons are loaded

}

function buttonApi($http,apiUrl){
  return{
    getButtons: function(){
      var url = apiUrl + '/buttons';
      return $http.get(url);
    },
    clickButton: function(id){
      var url = apiUrl+'/click?id='+id;
//      console.log(&quot;Attempting with &quot;+url);
      return $http.get(url); // Easy enough to do this way
    }
 };
}
</code></pre>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
  <button class="copy-button" onclick="copyCode(this)" title="Copy code">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 2h8a2 2 0 0 1 2 2v8M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>
<p>For this week's lab I would like you to add the following functionality:</p>
<ul>
<li>Make the buttons fully functional</li>
<li>Create a table for keeping track of the current transaction</li>
<li>Add a list of some sort to your cash register to keep track of items that are part of the current transaction</li>
<li>Add a total to the list (you can do this purely in javascript if you like)</li>
<li>Add the ability to remove an item from your list by clicking on it.</li>
</ul>
<p>You can look at my <a href="http://146.57.34.125:1337/listTest.html">online example</a>, to see what I'd like you to aim for.</p>
<p>Also be certain that you create a document detailing your API (include this in your repository) as well as your group members and database.</p>
<p>If you totally nail this you can begin preparing for next week by adding the ability to</p>
<ul>
<li>deal with allowing a user to log in and out,</li>
<li>create a printable receipt (a javascript popup will suffice),</li>
<li>create a "SALE" button, the infrastructure to support it, and implement the functionality,</li>
<li>create a "VOID" button and implement the functionality.</li>
</ul>

<script>

    function copyCode(button) {
      const wrapper = button.closest('.code-block-wrapper');
      const codeBlock = wrapper.querySelector('code');
      const text = codeBlock.textContent;
      
      // Copy to clipboard
      navigator.clipboard.writeText(text).then(() => {
        // Show success feedback
        button.classList.add('copied');
        const originalHTML = button.innerHTML;
        button.innerHTML = '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 4L6 11L3 8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>';
        
        // Reset after 2 seconds
        setTimeout(() => {
          button.classList.remove('copied');
          button.innerHTML = originalHTML;
        }, 2000);
      }).catch(err => {
        console.error('Failed to copy:', err);
        alert('Failed to copy code');
      });
    }
    
  </script>
</body>
</html>